.footer-section {
  background-color: #0b63a9;
  color: #fff;
  padding: 40px 0 25px;
  font-family: Arial, sans-serif;
}


.footer-brand {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.footer-logo {
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
}

.footer-info {
  font-size: 14px;
  line-height: 1.6;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;   
  margin-left: auto;    
  padding-left:370px;     
}

.footer-title {
  font-size: 16px;
  margin-bottom: 8px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  width: 38px;
  height: 38px;
  background: #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons img {
  width: 18px;
  height: 18px;
}


.copyright {
  font-size: 14px;
}

.published {
  font-size: 14px;
  text-align: right;
}

/* MOBILE */
@media (max-width: 767px) {
  .footer-brand {
    flex-direction: column;
  }

  .footer-right {
    margin-left: 0;
    margin-top: 20px;
  }

  .published {
    text-align: left;
    margin-top: 10px;
  }
}